/* Cor de fundo da página */
.home-container {
  background-color: black;
  color: white; /* Cor do texto */
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

/* Estilo para o título */
.home-container h1 {
  font-size: 3rem;
  color: blue;  /* Cor azul para o título */
  margin-bottom: 20px;
}

/* Estilo para o parágrafo */
.home-container p {
  font-size: 1.5rem;
  color: white;  /* Cor branca para o texto */
  margin-top: 20px;
}
